.App {
  /* background-color: rgb(36, 60, 70); */
  min-height: 100vh;

}
.img::-webkit-scrollbar {
  display: none;
}
html{
  scroll-behavior: smooth;
}
.banner{
  height: calc(100vh - 75px);
}
.social-icons::after{
  content: '';
  top: 0;
  left: 0;
  width: 2px;
  height: 3rem;
  background: orangered;
}
.imgContainer{
  width: 300px;
  height: 350px;
  margin: 10px;
  position: relative;
  cursor: pointer;
}
.imgContainer .imgCard{
  width: 100%;
  height: 100%;
  overflow: hidden; 
}
.imgContainer .imgCard img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease-in-out;
}
.imgContainer::before{
  content: '';
  width: 30%;
  height: 30%;
  top: 0;
  left: 0;
  background: none;
  position: absolute;
  border-top: 5px solid orangered;
  border-left: 5px solid orangered;
  transform: translate(-15px, -15px);
  transition: all .3s ease-in-out;
}
.imgContainer::after{
  content: '';
  width: 30%;
  height: 30%;
  bottom: 0;
  right: 0;
  background: none;
  position: absolute;
  border-bottom: 5px solid orangered;
  border-right: 5px solid orangered;
  transform: translate(15px, 15px);
  transition: all .3s ease-in-out;
}
.imgContainer:hover:before, .imgContainer:hover:after{
  width: calc(100% + 40px);
  height: calc(100% + 40px);
}
.imgContainer:hover .imgCard img{
  transform: scale(1.1);
}
/* 
.button{
  background-image: linear-gradient(to right, rgb(74, 74, 241) , rgb(19, 23, 248));
}
.main-color{
  color: rgb(19, 161, 243);
}
.card_shadow{
  box-shadow: 2px 2px 5px rgb(69, 186, 253);
} */
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
   background-color: #282c34;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
